@media (min-width: 769px) {
    header {
        display: flex;
        align-items: center;
        background-color: var(--primary-color);
    }

    header div:nth-child(2) {
        text-align: center;
        width: 50%;
    }

    header nav:last-child {
        flex-grow: 1;
        color: var(--background-color);
    }

    .site-brand-sm {
        display: none;
    }

    .site-brand-lg {
        font-size: 1.8rem;
        display: block;
        color: var(--background-color);
        font-weight: 300;
    }

    #menu {
        display: none;
    }

    nav {
        justify-items: center;
    }

    .navigation {
        justify-items: center;
    }

    .navigation,
    .navigation li {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        background-color: transparent;
        padding: 0;
    }

    li.active,
    .active a {
        background-color: var(--accent-color);
        color: white !important;
    }

    .navigation a {
        padding: 24px;
        width: 100%;
        display: block;
    }

    .logo {
        margin-left: 2.5rem;
    }

    nav {
        position: static;
        width: inherit;
        z-index: 100;
    }

    .navigation a {
        text-decoration: none;
        color: #000;
    }

    .list .item {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .no320 {
        display: block !important;
    }

    #data-result.grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    a.active {
        background-color: var(--accent-color);
        color: white;
    }

    .search-inputs {
        display: flex;
        width: 50% !important;
        margin: 0 auto;
        gap: 1rem;
        align-items: end;
    }

    footer {
        padding-top: 20px;
        flex-direction: row;
        min-height: 160px;
    }

    main .call-action{
        background-image: none !important;
    }

    .hero {
        background-image: url('../images/hero.webp');
        background-size: cover;
        background-position: top;
        height: 600px !important; /* ← Ajusta esta altura según tu diseño */
        min-height: 500px;
        position: relative;
        color: white;
        align-items: start !important;
       
    }


    .hero-call {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        background-color: rgba(0,0,0,0.5);
        padding: 1rem;
        border-radius: 8px;
        
    }
    .hero-call h1{
        font-size: 1.8rem;
    }

    .hero-call > div{
        display: flex;
        justify-content: center;
        width: 100% !important;
    }

    header.hero>div.header-wrapper {
        background: none !important;
    }



    header.hero>div.site-brand-lg {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        padding-top: 2.5rem;
    }

    header.hero > nav{
        padding-top: 1rem;;
    }


button.bt-call-action {
        margin-top: 20px;
        background-color: var(--accent-color);
        border: none;
        padding: 1rem;
        color: #FFF;
        font-size: 1.2rem;
        border-radius: 10px;
        cursor: pointer;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .bt-call-action:hover {
        background-color: var(--action-color);
        color: white;
    }

    .content{
        flex-direction: row;
        justify-content: space-evenly;    
    }
    .content div{
        flex: 1;
    }

    #spotlight-members{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    


    .join-section{
        display: flex;
        flex-direction: row;
        padding: 1rem;
    }
    .join-section .form{
        min-height: 100px;
        width: 50%;
    }

    .join-section .cards{
        min-height: 100px;
        width: 50%;
    }
    .card-container .card{
        cursor: pointer;
    }

    .card-container .card:hover figure img {
        transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
        transform: scale(1.05);
        filter: brightness(1.1);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }
}


@media (min-width: 1025px) {
  .card-container {
    grid-template-areas:
      "cards cards cards cards";
  }
}