:root {
  --primary-color:    #2c6ceb;
  --secondary-color:  #414563;
  --accent-color:     #00b894;
  --text-color:       #333333;
  --background-color: #f5f5f5;
  --action-color:     #244c68;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
    font-family: "Roboto Slab", serif;
    font-size: 1.1rem;
    font-weight: 200;
    font-style: normal;
}

  
h1 {
	background-color: var(--primary-color);
	padding: 1rem;
	border: 1px solid rgb(0 0 0 / 10%);
	font-size: 2rem;
	text-align: center;
}


nav {
	background-color: var(--secondary-color);
	margin: 0 auto;
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	  text-decoration: none;
    background-color: var(--accent-color);
    color: #fff;
}

.active {
	color: yellow;
}


 main{
    
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 1rem;
    max-width: 80%;
  }


  h2{
    background-color: var(--primary-color); 
    color: var(--background-color);
    text-align: center;
    font-size: 20px;
    padding: 0.5rem;
    border-radius: 2px;
    margin-bottom: 1rem;
    width: 100%;
  }

  section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }



  footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--background-color); 
    font-size: 0.9rem;
    color: var(--secondary-color);
  }


  .me, .about{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

ul {
    display: block;
    list-style-type: none;
}


li a{
    text-decoration: none;
}

.course{
  background-color: var(--action-color);
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  color: var(--background-color);
}

.completed::before{
    content: "✅ ";
}

button{
  background-color: var(--action-color);
  padding: 10px;
  margin: 2px;
  color: var(--background-color);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button.active{
  background-color: var(--accent-color);
}

button:hover{
  background-color: var(--accent-color);
}

#result{
  width: 100%;
  place-items: center;
}

#information{
  padding: 10px;
}

@media (min-width: 1500px) {
    body{
      font-size: 1.5rem;
    }
    main{
        grid-template-columns: 2fr 1fr;   
    }
    .dev{
         grid-column: span 2;
    }
     h2{
      font-size: 1.4rem;
     }
    nav ul {
		  display: flex;
	  } 
    nav ul li {
		  flex: 1 0 auto;
    }

    .course{
      width: 90%;
    }

    #result{
        display: grid;
        margin-top: 2rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }