* {
	padding: 0;
	box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}
header {
    text-align: center;
    padding: 2rem;
    background-color: rgb(71, 29, 87);
    color: white;
    margin: 2rem;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: #f1f1f1; 
    font-size: 0.9rem;
    color: #333;
  }

  form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgba(241, 243, 237, 0.945);
    padding: 1rem;
    margin: 2rem;
    border: 1px solid rgb(174, 166, 123);
  }

  .form-group{
    display: flex;
    flex-direction: column;
  }

  .rating-group label{
        display: flex;
  }

  .rating-group{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
  }

  .start{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }


  button[type="submit"]{
    background-color: #595858;
    color: white;
    font-size: 1rem;
    padding: 1rem;
  }

  button[type="submit"]:hover{
    background-color: #312f2f;
    cursor: pointer;
  }
  input[type="text"],input[type="date"],select{
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
  }

  .item{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
.count{
    margin-top: 1rem;
    font-size: 2.5rem;
}
  .count span{
    font-size: 3.5rem;
  }

  
  @media (min-width: 768px) { 
    main,header {
        margin: auto;
        width: 50%; 
        max-width: 700px; 
    }
    form{
        margin: 0;
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
    }
}