
@media (min-width: 768px) {
    .icon{display: none;}
    .hero img{
        height: calc(100dvh - 150px);
        object-fit: cover; 
        object-position: 50% 40%; 
    }
    .data{
        width: 300px;
        position: absolute;
        top: 2rem;
        margin-left: 2rem;
        background-color: #f1f1f1;
        padding: 1rem;
    }

    .weather{
        width: 300px;
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        background-color: #f1f1f1;
        padding: 1rem;
    }

    h2{
        background-color: var(--h2-color);
        width: 70%;
        padding: 1rem;
        text-align: left;
    }

    .weather h2::after{
        content: '⛅';
        margin-left: 0.5rem;
    }
}